<template id="admin-products-template">
{% include 'partials/admin-products.html' %}
</template>
<template id="auth-template">
{% include 'partials/auth.html' %}
</template>
<template id="cart-badge-template">
{% include 'partials/cart-badge.html' %}
</template>
<template id="cart-empty-template">
{% include 'partials/cart-empty.html' %}
</template>
<template id="cart-item-template">
{% include 'partials/cart-item.html' %}
</template>
<template id="cart-items-template">
{% include 'partials/cart-items.html' %}
</template>
<template id="cart-template">
{% include 'partials/cart.html' %}
</template>
<template id="chat-suggestions-template">
{% include 'partials/chat-suggestions.html' %}
</template>
<template id="chat-template">
{% include 'partials/chat.html' %}
</template>
<template id="check-template">
{% include 'partials/check.html' %}
</template>
<template id="customer-template">
{% include 'partials/customer.html' %}
</template>
<template id="customers-template">
{% include 'partials/customers.html' %}
</template>
<template id="dashboard-template">
{% include 'partials/dashboard.html' %}
</template>
<template id="finder-match-template">
{% include 'partials/finder-match.html' %}
</template>
<template id="finder-option-template">
{% include 'partials/finder-option.html' %}
</template>
<template id="finder-results-template">
{% include 'partials/finder-results.html' %}
</template>
<template id="finder-template">
{% include 'partials/finder.html' %}
</template>
<template id="icon-arrow-left-template">
{% include 'partials/icon-arrow-left.html' %}
</template>
<template id="icon-arrow-right-template">
{% include 'partials/icon-arrow-right.html' %}
</template>
<template id="icon-arrow-up-right-template">
{% include 'partials/icon-arrow-up-right.html' %}
</template>
<template id="icon-bell-template">
{% include 'partials/icon-bell.html' %}
</template>
<template id="icon-check-template">
{% include 'partials/icon-check.html' %}
</template>
<template id="icon-chevron-down-template">
{% include 'partials/icon-chevron-down.html' %}
</template>
<template id="icon-circle-dollar-sign-template">
{% include 'partials/icon-circle-dollar-sign.html' %}
</template>
<template id="icon-circle-user-round-template">
{% include 'partials/icon-circle-user-round.html' %}
</template>
<template id="icon-compass-template">
{% include 'partials/icon-compass.html' %}
</template>
<template id="icon-download-template">
{% include 'partials/icon-download.html' %}
</template>
<template id="icon-ellipsis-template">
{% include 'partials/icon-ellipsis.html' %}
</template>
<template id="icon-eye-off-template">
{% include 'partials/icon-eye-off.html' %}
</template>
<template id="icon-eye-template">
{% include 'partials/icon-eye.html' %}
</template>
<template id="icon-guitar-template">
{% include 'partials/icon-guitar.html' %}
</template>
<template id="icon-headphones-template">
{% include 'partials/icon-headphones.html' %}
</template>
<template id="icon-layout-dashboard-template">
{% include 'partials/icon-layout-dashboard.html' %}
</template>
<template id="icon-lock-keyhole-template">
{% include 'partials/icon-lock-keyhole.html' %}
</template>
<template id="icon-mail-template">
{% include 'partials/icon-mail.html' %}
</template>
<template id="icon-menu-template">
{% include 'partials/icon-menu.html' %}
</template>
<template id="icon-message-circle-template">
{% include 'partials/icon-message-circle.html' %}
</template>
<template id="icon-moon-template">
{% include 'partials/icon-moon.html' %}
</template>
<template id="icon-package-check-template">
{% include 'partials/icon-package-check.html' %}
</template>
<template id="icon-package-template">
{% include 'partials/icon-package.html' %}
</template>
<template id="icon-pause-template">
{% include 'partials/icon-pause.html' %}
</template>
<template id="icon-play-template">
{% include 'partials/icon-play.html' %}
</template>
<template id="icon-plus-template">
{% include 'partials/icon-plus.html' %}
</template>
<template id="icon-search-template">
{% include 'partials/icon-search.html' %}
</template>
<template id="icon-settings-template">
{% include 'partials/icon-settings.html' %}
</template>
<template id="icon-shield-check-template">
{% include 'partials/icon-shield-check.html' %}
</template>
<template id="icon-shopping-bag-template">
{% include 'partials/icon-shopping-bag.html' %}
</template>
<template id="icon-sliders-horizontal-template">
{% include 'partials/icon-sliders-horizontal.html' %}
</template>
<template id="icon-store-template">
{% include 'partials/icon-store.html' %}
</template>
<template id="icon-sun-template">
{% include 'partials/icon-sun.html' %}
</template>
<template id="icon-truck-template">
{% include 'partials/icon-truck.html' %}
</template>
<template id="icon-user-round-template">
{% include 'partials/icon-user-round.html' %}
</template>
<template id="icon-users-template">
{% include 'partials/icon-users.html' %}
</template>
<template id="icon-volume2-template">
{% include 'partials/icon-volume2.html' %}
</template>
<template id="icon-x-template">
{% include 'partials/icon-x.html' %}
</template>
<template id="message-template">
{% include 'partials/message.html' %}
</template>
<template id="mobile-nav-template">
{% include 'partials/mobile-nav.html' %}
</template>
<template id="overview-template">
{% include 'partials/overview.html' %}
</template>
<template id="product-card-template">
{% include 'partials/product-card.html' %}
</template>
<template id="recent-sale-template">
{% include 'partials/recent-sale.html' %}
</template>
<template id="sale-row-template">
{% include 'partials/sale-row.html' %}
</template>
<template id="sales-template">
{% include 'partials/sales.html' %}
</template>
<template id="sidebar-backdrop-template">
{% include 'partials/sidebar-backdrop.html' %}
</template>
<template id="storefront-template">
{% include 'partials/storefront.html' %}
</template>
